* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  margin: auto;
  width: auto; 
  /* padding: 50px; */
  font-family: 'Avenir', sans-serif; 
  color: #33475b;  
  flex: 1;
  display: flex;
  flex-direction: column;
  
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
}
section:nth-child(1) {
  flex: .2;
  background-color: hsl(0, 35%, 57%);
  text-align: center;
  margin: 20px;
}
section:nth-child(2) {
  flex: 1;
  background-color: rgb(63, 45, 154);
}
header {
  flex: 0 80px;
  background: hsl(223, 90%, 75%);
  text-align: center;
  font-family: Proxima-Soft-Bold;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  text-align: center;
  background: grey;  
  color: black;
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  background:rgb(60, 56, 56);
  text-align: center;
  align-items: center;
}

/* .side {
  width: 20%;
  height: 100%;
  background: rgb(219, 133, 133);
  flex-direction: row;
} */
/* img {
  display: block;
  /* width: 30%; */
   /* margin-left: auto;
  margin-right: auto;
}  */ 
div {
  background: #ffffff;
  margin: 20px;
  height: 50px;
  /** center elements within the container**/
  display: inline-flex;
  align-items: center; /**centers content vertically**/
  justify-content: center; /**centers horizontally**/
  opacity: 100;
}
.center {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #ffffff;
}
.buttons {
  max-width:800px;
  height: 200px;
  margin:0 auto;
  padding:0;
  text-align:center;
  background-color: rgb(255, 254, 254);
  opacity: 100;
  align-items: center;
  justify-content: center;
  display: grid;
}
  .button {
    display: grid;
    text-align:center;
    padding: 15px 15px;
    margin:5px;
    background:red;
    font-size:18px;
    background-color:#efefef;
    border-radius:3px;
    box-shadow:0 1px 2px rgba(0,0,0,.3);
    cursor:pointer;
    max-height: 50px;
    align-items: center;
    /* justify-content: center; */
    left: 500px;
  }
    .button:hover {
      color:white;
      background:#009bd5;
    }
  

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}

/* @media (max-height: 700px) {
  header {

  }
  footer {

  }
} */